@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/Inter.ttc);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

.page {
  font-family: "Inter", "Arial";
  color: #ffffff;
  background-color: #2a2c2f;
  margin: 0;
  padding: 0;
}
